<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Charlotte Cars | Welcome</title>
	<link rel="stylesheet" type="text/css" href="/resources/style.css">
</head>
<body>
	<div id="wrapper">
		<% include partials/header.ejs %>
		<% include partials/user-navigation.ejs %>
		<main>
			<% include partials/site-navigation.ejs %>
			<section id="main-content" class="main-content">
				<div id="breadcrumb">
					<ul>
						<li>Contact</li>
					</ul>
				</div>
				<article id="home-content">
					<h2 class="content-header">Contact Us</h2><br>
					<p class="content-para">Email: charlottecars@gmail.com<br>Phone: (704)-(307)-(1120)</p>
				</article>
			</section>
		</main>
		<% include partials/footer.ejs %>
	</div>
</body>
</html>